* { 
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    color: white;
}
a {
    text-decoration: none;
}
body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

header {
    width: 100vw;
    background: black;
}

header ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li a {
    display: block;
    width: 23vw;
    text-transform: uppercase;
    text-decoration: 0;
    color:white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

header ul li a:hover {
    border: 1px solid white;
    border-radius: 5px;
}
progress{
    width: 80%;
    margin-left: 10%;
}
h1{
    text-align: center;

}
main{
    text-align: center;
    width: 100vw;
    height: auto;
    padding: 5px;
}

.main-fotos{
    width: 99%;
    margin-left: 0.5%;
}

.videos {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}
.videos iframe{
    width: 100%;
    height: 30vh;
    margin-bottom: 5px;
}
h2{
    margin-bottom: 0;
}

table {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    border: 1px solid white;
}
thead{
    font-size: 25px;
}

tbody{
   color: greenyellow;
}
ol{
    width: 80%;
    margin-left: 10%;
    text-align: left;
}

article{
    text-align: justify;
}

iframe {
    width: 45%;
}

footer {
    background: black;
    text-align: center;
}

.social a {
    font-size: 35px;
    text-decoration: none;
    color: white;
}